:root {
    --Lavendar-Grey: #8693AB;
    --Pale-Sky: #BDD4E7;
    --Shadow-Grey: #212227;
    --Dim-Grey: #637074;
    --Powder-Blue: #AAB9CF;
    --square: 175px;
}

body {
    margin: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--Lavendar-Grey);
}

.avatar {
    height: var(--square);
}

.card {
    width: 600px;
    height: var(--square);
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: end;
    font-size: larger;
    background: var(--Powder-Blue);
    color: var(--Shadow-Grey);

}

.border {
    border-bottom: 5px solid var(--Pale-Sky);
    border-right: 5px solid var(--Pale-Sky);
    border-radius: 50px;
    box-shadow: 
        5px 5px 9px 2px rgba(0, 0, 0, .4),
        -2px -2px rgba(255, 255, 255, .6);
}

.words {
    padding: 10px 15px;
}

.words:hover, .card:hover, .avatar:hover {
    border-bottom: 2px solid var(--Pale-Sky);
    border-right: 1px solid var(--Pale-Sky);
    border-left: 1px solid var(--Pale-Sky);
    box-shadow: 
    0 4px 10px 2px rgba(0, 0, 0, .3),
    0 -1px 0 2px rgba(255, 255, 255, .8);
}

/*
Final challenge:
Download the code to your local computer and place it
in a folder called "business-card"
*/
